.nav{
  display: flex;
  gap: 10px;
  width: 200px;
  background-color:rgb(188, 167, 207);
  box-shadow: 2px 2px 9px;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
}

.horizontal {
  flex-direction: column;
}